#message_board{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  background-color:rgb(255,0,65);
  color:black;
}

li{
  font-weight:bold;
  font-size:12pt;
  color:rgb(255,255,255);
  text-shadow: 1px 1px 1px rgb(0,0,0); 
}

.desc_label{
  font-weight:bold;
  font-size:14pt;
  color:rgb(255,255,255);
  text-shadow: 1px 1px 1px rgb(0,0,0); 
}
#error_list{
	margin:15px;
	width:100%;
	font-weight:bold;
	font-size:12pt;
	color:rgb(255,255,255);
	text-shadow: 1px 1px 1px rgb(0,0,0); 
	text-align:center;
}
#error_list{
	text-align:center;
	margin-left:30%;
	width:45%;
	max-height:70px;
	overflow:auto;
}
#lbl_error_list{
	position:absolute;
	left:51%;
	margin-left:-50px;
}
.lnk_brief{
	color:rgb(0,255,255);
	font-size:10pt;
}
.lnk_brief_desc{
}

a.lnk_brief_desc:visited{
	color:rgb(0,255,255);
}
a.lnk_brief_desc:hover{
	color:rgb(255,255,0);
	outline-style:solid;
	outline-color:rgb(255,255,255);
}
#content_shell{
	position:absolute;
	min-width:75%;
	width:75%;
	min-height:75%;
	height:75%;
	top:20%;
	left:12%;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	background-color:rgb(0,255,255);
}
#content{
	position:absolute;
	background-color:black;
	min-width:75%;
	width:75%;
	min-height:75px;
	top:50%;
	margin-top:-35px;
	margin-bottom:auto;
	margin-left:12.5%;
}
#frm_search{
	color:rgb(255,255,255);
	margin-left:0%;
	margin-top:10px;
	text-align:center;
}
#lnk_search{
	color:rgb(255,255,255);
	margin-left:0%;
	margin-top:10px;
	text-align:center;
}
a.lnk_search:visited{
	color:rgb(0,255,255);
}
a.lnk_search:hover{
	color:rgb(255,255,0);
	outline-style:solid;
	outline-color:rgb(255,255,255);
}
table#tbl_search_center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
