body{
	background-color:rgb(0,255,255);
	background-color:white;
}
#menu_slide{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	border-radius:15px;
	border: 2px solid;
	background-color:white;
	min-height:95px;
	height:95px;
	width:100%;
}
.action_menu{
	z-index:2;
}
.close_button{
	position:relative;
	left:4px;
	top:2px;
	background-color:red;
	border-radius:360px;
	z-index:2;
	cursor:pointer;
}
#menu_start_txt{
	color:rgb(0,0,0);
}
.main_nav{
	border-radius:15px;
	float:left;
	min-width:95px;
	min-height:95%;
}
#menu_button{
	width:100%;
	height:100%;
	text-align:center;
	vertical-align: text-top;
	border-radius:15px;
	z-index:2;
}
#message_board{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  background-color:rgb(255,0,65);
  color:black;
}
#lbl_messages{
	position:relative;
	top:07px;
	font-size:18pt;
}
li{
  font-weight:bold;
  font-size:12pt;
  color:rgb(255,255,255);
  color:rgb(0,0,0);
  text-shadow: 0px 0px 0px rgb(0,0,0); 
}

.desc_label{
  font-weight:bold;
  font-size:14pt;
  color:rgb(255,255,255);
  text-shadow: 1px 1px 1px rgb(0,0,0); 
  border-bottom-style:solid;
  border-bottom-width:6px;
  border-bottom-color:black;
}
#error_list{
	position:relative;
	top:7px;
	margin:15px;
	width:100%;
	font-weight:bold;
	font-size:12pt;
	color:rgb(255,255,255);
	text-shadow: 1px 1px 1px rgb(0,0,0); 
	text-align:center;
}
#error_list{
	position:relative;
	top:14px;
	text-align:center;
	margin-left:30%;
	width:45%;
	max-height:70px;
	overflow:auto;
}
#lbl_error_list{
	position:absolute;
	left:05%;
	top:-04px;
	margin-left:-50px;
	width:100%;
	text-align:center;
}
.lnk_brief{
	color:rgb(0,255,255);
	font-size:10pt;
}
.lnk_brief_desc{
}

a.lnk_brief_desc:visited{
	color:rgb(0,255,255);
}
a.lnk_brief_desc:hover{
	color:rgb(255,255,0);
	outline-style:solid;
	outline-color:rgb(255,255,255);
}
#content_shell{
	position:absolute;
	min-width:75%;
	width:75%;
	min-height:75%;
	height:75%;
	top:20%;
	left:12%;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	background-color:rgb(0,255,255);
	border-style:solid;
	border-width:1px;
	border-color:rgb(0,255,255);
	border-radius:15px;
}
#content{
	position:absolute;
	background-color:white;
	border-color:black;
	border-style:solid;
	border-width:1px;
	border-radius:15px;
	min-width:75%;
	width:75%;
	min-height:75px;
	top:50%;
	margin-top:-35px;
	margin-bottom:auto;
	margin-left:12.5%;
	
}
#frm_search{
	color:rgb(255,255,255);
	margin-left:0%;
	margin-top:10px;
	text-align:center;
}
#lnk_search{
	color:rgb(255,255,255);
	margin-left:0%;
	margin-top:10px;
	text-align:center;
	text-shadow: 1px 1px 1px rgb(0,0,0); 
}
a.lnk_search:visited{
	color:rgb(0,0,0);
	text-shadow: 1px 1px 1px rgb(0,100,100); 
}
a.lnk_search:hover{
	color:rgb(255,255,0);
	outline-style:solid;
	outline-color:rgb(255,255,255);
	text-shadow: 1px 1px 1px rgb(0,0,0); 
}
table#tbl_search_center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
label{
	color:black;
}

._box{
	border-width:1px;
	border-color:black;
	border-style:solid;
	background-color:white;
	z-index:1;
}

.single_task{	
	width:100%;
	height:100%;
	margin-left:auto; 
	margin-right:auto;

}

table.fill{}
table.truecenter{
	width:100%;
	height:100%;
	margin-left:auto; 
	margin-right:auto;
  	position: relative;
  	top: 50%;
  	transform: translateY(-5%);
}
td.truecenter{
	margin-left:auto;
	margin-right:auto;
text-align:center;

}
form{
	width:100%;
}
